# -Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
    1-Python
    2-R
    3-SQL
    4-scala
    5-java
    6-C++

### Some of the commonly used libraries used by Data Scientists include:
     1-numpy
     2-pandas
     3-matplotlib
     4-tensorflow
     5-SciKit-Learn

### Data Science Tools:
|Data science tools|
|:-----------------|
|jupyter notebook|
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
1+1

2

In [13]:
10-4

6

In [11]:
10/5

2.0

In [12]:
3*10

30

### This a simple arithmetic expression to mutiply then add integers:

In [1]:
(3*4)+5

17

###  This will convert 200 minutes to hours by diving by 60:

In [4]:
def convert(minutes):
    hours = minutes / 60
    print(int(hours))

In [5]:
convert(200)

3

### Objectives:
    .List popular languages for Data Science
    .list libraries used for data science
    .simple arthimetic in python
    .list of data science tools

## Author :
         Mahmoud khaled mohamed elshazly

# #thank you